#android studio
.gradle
build/*
build/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/**
*.iml
/libraries/**/*.iml
**/intermediates/**
**/build/**
/app/*.iml
**/gen/**
captures

#etc
.DS_Store
*.puml